body {
    font-family: Arial;
    background: linear-gradient(135deg, #ffd6e7, #c9f2ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    color: #ff69b4;
}

input {
    padding: 10px;
    width: 65%;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    background: #ff69b4;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #ff1493;
}

li {
    list-style: none;
    margin-top: 10px;
    padding: 10px;
    background: #f3f3f3;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.task-info {
    display: flex;
    flex-direction: column;
}

small {
    font-size: 12px;
    color: #666;
}